@import url("flip.css");

@font-face {
    font-family: 'Liberation';
    src: url(../fonts/LiberationSerif-Regular-webfont.woff);
}

:root {
    --offsetLeft: 0;
    --offsetTop: 0;
    --boardSize: 0.92;
    --minSide: 5;
    --maxSide: 6;
    --gapSize: 2px;
    --backColor: cadetblue;
    --offset: -129px;
    --fontSize: 3.2vmin;
    --fontSizeBig: 8vmin;
    --background: whitesmoke;
}

body{
    font-family: 'Liberation','Times New Roman', Times, serif;
    margin: 0px;
    background: var(--background);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.board{
    display: grid;
    grid-template-columns: repeat(var(--minSide), 1fr); 
    width: calc(var(--boardSize) + (var(--minSide) - 1) * var(--gapSize));
    height: calc(var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize));
    gap: 2px;
    margin-top: -1px;
    margin-left: -1px;
}

.flip-container{
    opacity: 0;
}

.card{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding: 0;
    font-size: var(--fontSize);
    text-align: center;
    border-radius: 7px;
    margin: 1px;
    position: relative;
    width: calc(var(--boardSize) / var(--minSide));
    height: calc(var(--boardSize) / var(--minSide));
}

img{
    width: calc(var(--boardSize) / var(--minSide));
    height: calc((var(--boardSize) / var(--minSide)) * 2 / 3);
    border-radius: 6px;
}

.country{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    line-height: 0.9;
    margin-top: -1px;
    margin-bottom: 0;
    word-spacing: -1px;
}

.back .card{
    background: var(--backColor);
}

#big1, #big2{
    width: calc(var(--boardSize) / var(--minSide) * 3);
    height: calc(var(--boardSize) / var(--minSide) * 3);
    font-size: var(--fontSizeBig);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
}

#big1 img, #big2 img{  
    width: calc(var(--boardSize) / var(--minSide) * 3);
    height: calc(var(--boardSize) / var(--minSide) * 3 * 2 / 3);
    border-radius: 10px;
}

.zoom{
    animation-name: zooming;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.zoomX{
    animation-name: zoomingX;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes zooming {
    0% {
        opacity: 0; transform: translate(calc(((var(--boardSize) + (var(--minSide) - 1) * var(--gapSize)) / 2 - var(--offsetLeft) * var(--gapSize) + var(--boardSize) / var(--minSide) *  (1 - var(--offsetLeft))) * -1 ), calc(((var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize)) / 2 - var(--offsetTop) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetTop))) * -1)) scale(0.333333);       
    }

    100% {
        opacity: 1; transform: translate(calc(var(--boardSize) / var(--minSide) * 3 / -2), calc(var(--boardSize) / var(--minSide) * 3 / -2)) scale(1.0);
    } 
}

@keyframes zoomingX {
    0% {
        opacity: 0; transform: translate(calc(((var(--boardSize) + (var(--minSide) - 1) * var(--gapSize)) / 2 - var(--offsetLeft) * var(--gapSize) + var(--boardSize) / var(--minSide) *  (1 - var(--offsetLeft))) * -1 ), calc(((var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize)) / 2 - var(--offsetTop) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetTop))) * -1)) scale(0.333333);        
    }

    100% {
        opacity: 1; transform: translate(calc(var(--boardSize) / var(--minSide) * 3 / -2), calc(var(--boardSize) / var(--minSide) * 3 / -2)) scale(1.0);
    } 
}

@media (orientation: landscape){

    .board{  
        grid-template-columns: repeat(var(--maxSide), 1fr);
        height: calc(var(--boardSize) + (var(--minSide) - 1) * var(--gapSize));
        width: calc(var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize));
    }

    @keyframes zooming {
        0% {
            opacity: 0; transform: translate(calc(((var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize)) / 2 - var(--offsetLeft) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetLeft))) * -1), calc(((var(--boardSize) + (var(--minSide) - 1) * var(--gapSize)) / 2 - var(--offsetTop) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetTop))) * -1 )) scale(0.33333);
        } 

        100% {
            opacity: 1; transform: translate(calc(var(--boardSize) / var(--minSide) * 3 / -2), calc(var(--boardSize) / var(--minSide) * 3 / -2)) scale(1.0);
        }
    }

    @keyframes zoomingX {
        0% {
            opacity: 0; transform: translate(calc(((var(--boardSize) * var(--maxSide) / var(--minSide) + (var(--maxSide) - 1) * var(--gapSize)) / 2 - var(--offsetLeft) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetLeft))) * -1), calc(((var(--boardSize) + (var(--minSide) - 1) * var(--gapSize)) / 2 - var(--offsetTop) * var(--gapSize) + var(--boardSize) / var(--minSide) * (1 - var(--offsetTop)) - 15px) * -1)) scale(0.33333);
        }

        100% {
            opacity: 1; transform: translate(calc(var(--boardSize) / var(--minSide) * 3 / -2), calc(var(--boardSize) / var(--minSide) * 3 / -2 + 15px)) scale(1.0);
        }
    }
}

@media (min-width: 460px) and (min-height: 460px){
    :root {
        --fontSize: 2.5vmin;
        --fontSizeBig: 6vmin;
    }

    .card{
        font-size: var(--fontSize);
    }

    #big1, #big2{
        font-size: var(--fontSizeBig);;
    }
}

.card:hover{
      cursor: pointer;
}

.noselect {
-webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
        -webkit-user-select: none; 
           -moz-user-select: none; 
            -ms-user-select: none; 
                user-select: none; 
}
 